1. My build system is vite
2. My server is fastify
3. My database is postgres
4. My ORM is prisma
5. My client is react
6. My styling is tailwindcss
7. My API is rest
8. I prefer to use functional style of programming
9. I use yarn
10. For new client side api refer to api folder and follow pattern in index.ts
11. folder structure is root -> client, server. root will run yarn dev which wil start both client and server
